fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector
pydantic
python-dotenv
openai
langchain
langchain-openai
langchain-community
langchain-ollama
langchain-anthropic
anthropic
requests
beautifulsoup4
markdown
sentence-transformers
langchain-huggingface